.clients .container {
  padding: 94px 15px 94px;
}

.clients-list {
  display: flex;
  padding: 0px;
  list-style: none;
  @include for-size(tablet-max) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.clients-list-item {
  @include for-size(mobile-max) {
    width: calc((100% - 30px) / 2);

    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }
  @include for-size(tablet-landscape) {
    width: calc((100% - 60px) / 3);

    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
  @include for-size(desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-item {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid $icons-color;
  border-radius: 4px;

  .icon {
    fill: $icons-color;
  }
  &:hover,
  &:focus,
  &:hover .icon,
  &:focus .icon {
    fill: $accent-color;
    border-color: $accent-color;
    transition: fill $time $function;
  }
}
