.foot {
  background: #2f303a;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  padding: 60px 15px 60px;
  @include for-size(tablet-max) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address {
  @include for-size(tablet-landscape) {
    width: calc(50%-15px);
    margin-right: 165px;
    margin-bottom: 60px;
  }
  @include for-size(desktop) {
    width: calc(25% - 30px);
    margin-right: 0px;
  }
  @include for-size(mobile-max) {
    width: 100%;
    margin-bottom: 60px;
  }
}

.come-on {
  @include for-size(tablet-landscape) {
    width: calc(50%-15px);
  }
  @include for-size(desktop) {
    width: calc(25% - 30px);
  }
  @include for-size(mobile-max) {
    width: 100%;
    margin-bottom: 60px;
  }
}
// стили для инпута
.send {
  display: block;
  @include for-size(tablet-max) {
    width: 100%;
  }

  @include for-size(desktop) {
    // text-align: left;
    width: calc(50% - 60px);
  }
}

.send-form {
  width: 100%;

  @include for-size(tablet-max) {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.send-input {
  width: 100%;

  @include for-size(tablet-max) {
    margin-bottom: 20px;
    max-width: 450px;
  }
}

.addres-item {
  color: $primary-white-color;
}

.addres-contact {
  color: $second-white-color;
}

.come-on-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $primary-white-color;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  @include for-size(desktop) {
    justify-content: flex-start;
  }
}

.address-list {
  margin-top: 20px;
}
