.portpholio {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(mobile-max) {
    max-width: 480px;
    padding: 60px 15px 60px;
  }
  @include for-size(tablet-landscape) {
    width: 768px;
    padding: 60px 15px 60px;
  }
  @include for-size(desktop) {
    width: 1200px;
    padding: 94px 15px 94px;
  }
}

.portpholio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.card-title {
  padding: 20px 24px;
}

.portpholio-card {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    box-shadow: $primary-card-shadow;
  }
  @include for-size(tablet-max) {
    width: calc((100% - 30px) / 2);
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include for-size(desktop) {
    width: calc((100% - (2 * 30px)) / 3);
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.portpholio-image {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}

.portpholio-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $primary-white-color;
  transform: translateY(100%);
  transition: transform $time $function;
}

.portpholio-card:hover .portpholio-text {
  transform: translateY(0);
}
