.team {
  background: $backgroun-color;

  .team-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @include for-size(mobile-max) {
      width: 480px;
      padding: 60px 15px 60px;
    }
    @include for-size(tablet-landscape) {
      width: 768px;
      padding: 60px 15px 60px;
    }
    @include for-size(desktop) {
      width: 1200px;
      padding: 94px 15px 94px;
    }
  }
  .team-list {
    @include for-size(tablet-landscape) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.team-card {
  width: 100%;
  background-color: $primary-white-color;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 0px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $people-card-shadow;

  @include for-size(phone-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @include for-size(tablet-landscape) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include for-size(desktop) {
    width: calc((100% - (3 * 30px)) / 4);
    margin-bottom: 0;
  }
}

.team-image {
  margin-bottom: 30px;
}

.people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
  color: $primary-title-color;
}

.people-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0 0 16px;
}
